*.swp
.DS_Store
bin/configlet
bin/configlet.exe
/backup
/bin/backup
/exercises/practice/hello-world/.meta/backup
/exercises/practice/hello-world/backup
/.github/workflows/backup
/exercises/practice/acronym/.meta/backup
/exercises/practice/acronym/backup
*.err
/.github/bin/backup
