*.swp
.DS_Store
bin/configlet
bin/configlet.exe
/backup
/bin/backup
/exercises/practice/hello-world/.meta/backup
/exercises/practice/hello-world/backup
/.github/workflows/backup
/exercises/practice/acronym/.meta/backup
/exercises/practice/acronym/backup
*.err
/.github/bin/backup
/exercises/shared/.docs/backup
/exercises/practice/affine-cipher/.meta/backup
/exercises/practice/affine-cipher/backup
/exercises/practice/all-your-base/.meta/backup
/exercises/practice/all-your-base/backup
/exercises/practice/all-your-base/lib/backup
/exercises/practice/allergies/.meta/backup
/exercises/practice/allergies/backup
/exercises/practice/alphametics/.meta/backup
/exercises/practice/alphametics/backup
/exercises/practice/anagram/.meta/backup
/exercises/practice/anagram/backup
/exercises/practice/armstrong-numbers/.meta/backup
/exercises/practice/armstrong-numbers/backup
/exercises/practice/atbash-cipher/.meta/backup
/exercises/practice/atbash-cipher/backup
/exercises/practice/bank-account/.docs/backup
/exercises/practice/bank-account/.meta/backup
/exercises/practice/bank-account/backup
/exercises/practice/binary-search-tree/.meta/backup
/exercises/practice/binary-search-tree/backup
/exercises/practice/binary-search/.meta/backup
/exercises/practice/binary-search/backup
/exercises/practice/bob/.meta/backup
/exercises/practice/bob/backup
/exercises/practice/book-store/.meta/backup
/exercises/practice/book-store/backup
/exercises/practice/bottle-song/.meta/backup
/exercises/practice/bottle-song/backup
/exercises/practice/bowling/.meta/backup
/exercises/practice/bowling/backup
/exercises/practice/change/.meta/backup
/exercises/practice/change/backup
/exercises/practice/circular-buffer/.meta/backup
/exercises/practice/circular-buffer/backup
/exercises/practice/clock/.meta/backup
/exercises/practice/clock/backup
/exercises/practice/collatz-conjecture/.meta/backup
/exercises/practice/collatz-conjecture/backup
/exercises/practice/complex-numbers/.docs/backup
/exercises/practice/complex-numbers/.meta/backup
/exercises/practice/complex-numbers/backup
/exercises/practice/connect/.meta/backup
/exercises/practice/connect/backup
/exercises/practice/crypto-square/.meta/backup
/exercises/practice/crypto-square/backup
/exercises/practice/custom-set/.meta/backup
/exercises/practice/custom-set/backup
/exercises/practice/darts/.meta/backup
/exercises/practice/darts/backup
/exercises/practice/diamond/.meta/backup
/exercises/practice/diamond/backup
/exercises/practice/difference-of-squares/.meta/backup
/exercises/practice/difference-of-squares/backup
/exercises/practice/dnd-character/.meta/backup
/exercises/practice/dnd-character/backup
/exercises/practice/dominoes/.meta/backup
/exercises/practice/dominoes/backup
/exercises/practice/eliuds-eggs/.meta/backup
/exercises/practice/eliuds-eggs/backup
/exercises/practice/etl/.meta/backup
/exercises/practice/etl/backup
/exercises/practice/flatten-array/.meta/backup
/exercises/practice/flatten-array/backup
/exercises/practice/food-chain/.meta/backup
/exercises/practice/food-chain/backup
/exercises/practice/forth/.meta/backup
/exercises/practice/forth/backup
/exercises/practice/game-of-life/.meta/backup
/exercises/practice/game-of-life/backup
/exercises/practice/gigasecond/.meta/backup
/exercises/practice/gigasecond/backup
/exercises/practice/grade-school/.meta/backup
/exercises/practice/grade-school/backup
/exercises/practice/grains/.docs/backup
/exercises/practice/grains/.meta/backup
/exercises/practice/grains/backup
/exercises/practice/grep/.meta/backup
/exercises/practice/grep/backup
/exercises/practice/hamming/.meta/backup
/exercises/practice/hamming/backup
/exercises/practice/high-scores/.meta/backup
/exercises/practice/high-scores/backup
/exercises/practice/house/.meta/backup
/exercises/practice/house/backup
/exercises/practice/isbn-verifier/.meta/backup
/exercises/practice/isbn-verifier/backup
/exercises/practice/isogram/.meta/backup
/exercises/practice/isogram/backup
/exercises/practice/kindergarten-garden/.meta/backup
/exercises/practice/kindergarten-garden/backup
/exercises/practice/knapsack/.meta/backup
/exercises/practice/knapsack/backup
/exercises/practice/largest-series-product/.meta/backup
/exercises/practice/largest-series-product/backup
/exercises/practice/leap/.meta/backup
/exercises/practice/leap/backup
/exercises/practice/ledger/.meta/backup
/exercises/practice/ledger/.docs/backup
/exercises/practice/ledger/backup
/exercises/practice/linked-list/.docs/backup
/exercises/practice/linked-list/.meta/backup
/exercises/practice/linked-list/backup
/exercises/practice/list-ops/.meta/backup
/exercises/practice/list-ops/backup
/exercises/practice/luhn/.meta/backup
/exercises/practice/luhn/backup
/exercises/practice/markdown/.meta/backup
/exercises/practice/markdown/backup
/exercises/practice/matching-brackets/.meta/backup
/exercises/practice/matching-brackets/backup
/exercises/practice/matrix/.meta/backup
/exercises/practice/meetup/.meta/backup
/exercises/practice/meetup/backup
/exercises/practice/minesweeper/.meta/backup
/exercises/practice/minesweeper/backup
/exercises/practice/nth-prime/.meta/backup
/exercises/practice/nth-prime/backup
/exercises/practice/nucleotide-count/.meta/backup
/exercises/practice/nucleotide-count/backup
/exercises/practice/ocr-numbers/.meta/backup
/exercises/practice/ocr-numbers/backup
/exercises/practice/palindrome-products/.meta/backup
/exercises/practice/palindrome-products/backup
/exercises/practice/pangram/.meta/backup
/exercises/practice/pangram/backup
/exercises/practice/parallel-letter-frequency/.meta/backup
/exercises/practice/parallel-letter-frequency/backup
/exercises/practice/pascals-triangle/.meta/backup
/exercises/practice/pascals-triangle/backup
/exercises/practice/perfect-numbers/.meta/backup
/exercises/practice/perfect-numbers/backup
/exercises/practice/phone-number/.docs/backup
/exercises/practice/phone-number/.meta/backup
/exercises/practice/pig-latin/.meta/backup
/exercises/practice/pig-latin/backup
/exercises/practice/poker/.meta/backup
/exercises/practice/poker/backup
/exercises/practice/pov/.docs/backup
/exercises/practice/pov/.meta/backup
/exercises/practice/pov/backup
/exercises/practice/prime-factors/.docs/backup
/exercises/practice/prime-factors/.meta/backup
/exercises/practice/prime-factors/backup
/exercises/practice/protein-translation/.meta/backup
/exercises/practice/protein-translation/backup
/exercises/practice/proverb/.meta/backup
/exercises/practice/proverb/backup
/exercises/practice/pythagorean-triplet/.meta/backup
/exercises/practice/pythagorean-triplet/backup
