*.swp
.DS_Store
bin/configlet
bin/configlet.exe
/backup
/bin/backup
/exercises/practice/hello-world/.meta/backup
/exercises/practice/hello-world/backup
/.github/workflows/backup
/exercises/practice/acronym/.meta/backup
/exercises/practice/acronym/backup
*.err
/.github/bin/backup
/exercises/shared/.docs/backup
/exercises/practice/affine-cipher/.meta/backup
/exercises/practice/affine-cipher/backup
/exercises/practice/all-your-base/.meta/backup
/exercises/practice/all-your-base/backup
/exercises/practice/all-your-base/lib/backup
/exercises/practice/allergies/.meta/backup
/exercises/practice/allergies/backup
/exercises/practice/alphametics/.meta/backup
/exercises/practice/alphametics/backup
/exercises/practice/anagram/.meta/backup
/exercises/practice/anagram/backup
/exercises/practice/armstrong-numbers/.meta/backup
/exercises/practice/armstrong-numbers/backup
/exercises/practice/atbash-cipher/.meta/backup
/exercises/practice/atbash-cipher/backup
/exercises/practice/bank-account/.docs/backup
/exercises/practice/bank-account/.meta/backup
/exercises/practice/bank-account/backup
/exercises/practice/binary-search-tree/.meta/backup
/exercises/practice/binary-search-tree/backup
/exercises/practice/binary-search/.meta/backup
/exercises/practice/binary-search/backup
/exercises/practice/bob/.meta/backup
/exercises/practice/bob/backup
